body{
	
	 background-image: url(http://previews.123rf.com/images/iqoncept/iqoncept1306/iqoncept130600083/20329544-A-background-of-question-mark-signs-and-symbols-to-illustrate-learning-education-testing-quizzing-cr-Stock-Photo.jpg);
}
#title{

	color:yellow;
	font-size:65px;
	text-align:center;
	background:black;
}
#start{

	text-align:center;
}
.container{


}



#timer{


}

#questions{
font-size:30px;
	color:red;

}

.btn{
	margin:5px;
	font-size:30px;
	color:red;
	display:block;
	

}

#answer0{
font-size:30px;
	color:red;

}

#answer1{
font-size:30px;
	color:red;

}


#answer2{

font-size:30px;
	color:red;

}

#answer3{

font-size:30px;
	color:red;

}

#gif{



}